[include]
  path = ~/.gitconfig-common

[includeIf "gitdir:/home/**"]
  path = ~/.gitconfig-linux
  path = ~/.gitconfig-ssh

[includeIf "gitdir:/Users/**"]
  path = ~/.gitconfig-darwin
  path = ~/.gitconfig-ssh

